ion-card {
    position: relative;
    text-align: center;

    &-header {
        // border: 1px solid blue;
        font-weight: bold;
        position: absolute;
        top: 30%;
        width: 100%;
    }
    &-title {
        font-size: 2em;
        font-weight: bold;
    }
    &-subtitle {
        font-size: 1em;
        text-transform: capitalize;
    }
}

ion-spinner {
    margin: 2em auto
}

.error-message { 
    h2, h4 {
        text-align: center;
    }
}