<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Login</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <form novalidate>
        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-checkbox
                color="primary"
                checked="true"
            ></ion-checkbox>
            <ion-label>Remember me</ion-label>
        </ion-item>
        
        <ion-button 
            type="submit"
        >Login</ion-button>

    </form>

</ion-content>
