<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card *ngIf="dish">

        <ion-img [src]="BaseURL + dish .image" [alt]="dish .name"></ion-img>
        <ion-card-header>
            <ion-card-title>{{ dish .name | uppercase }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{ dish .description }}
        </ion-card-content>

    </ion-card>
    <div class="spinner-message" [hidden]="dish || dishErrorMessage">
        <ion-spinner name="crescent"></ion-spinner>
        <h4>Loading...</h4>
    </div>
    <div class="error-message" *ngIf="dishErrorMessage">
        <h2>Error</h2>
        <h4>{{ dishErrorMessage }}</h4>
    </div>

    <ion-card *ngIf="promotion">

        <ion-img [src]="BaseURL + promotion .image" [alt]="promotion .name"></ion-img>
        <ion-card-header>
            <ion-card-title>{{ promotion .name | uppercase }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{ promotion .description }}
        </ion-card-content>

    </ion-card>
    <div class="spinner-message" [hidden]="promotion || promotionErrorMessage">
        <ion-spinner name="crescent"></ion-spinner>
        <h4>Loading...</h4>
    </div>
    <div class="error-message" *ngIf="promotionErrorMessage">
        <h2>Error</h2>
        <h4>{{ promotionErrorMessage }}</h4>
    </div>

    <ion-card *ngIf="leader">
    
        <ion-img [src]="BaseURL + leader .image" [alt]="leader .name"></ion-img>
        <ion-card-header>
            <ion-card-title>{{ leader .name | uppercase }}</ion-card-title>
            <ion-card-subtitle>{{ leader .designation | uppercase }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{ leader .description }}
        </ion-card-content>

    </ion-card>
    <div class="spinner-message" [hidden]="leader || leaderErrorMessage">
        <ion-spinner name="crescent"></ion-spinner>
        <h4>Loading...</h4>
    </div>
    <div class="error-message" *ngIf="leaderErrorMessage">
        <h2>Error</h2>
        <h4>{{ leaderErrorMessage }}</h4>
    </div>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-forward-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- fab placed in the center of the content with a list on each side -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
        <ion-fab-button>
            <ion-icon name="arrow-up-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button>
                <ion-icon name="mail"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-youtube"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    
    </ion-fab>

</ion-content>
